{% include postHeader.html %}
<!-- {% include mastodon.html %} -->
<div class="textContainer">
    <h1>This Website Is Currently <b>Under Construction</b></h1>
    <p>if you want to see anything i have worked on, please use the <a href="/minified.html">minified</a> version</p>
</div>
<style>
    .textContainer{
        position:absolute;
        left:50vw;
        top:50vh;
        transform: translate(-50%,-50%);
        background-color: rgba(53, 43, 59, 0.37);
        color:white;
        padding:20px;
        border-radius:20px;
        border-width: 5px;
        border-style: double;
        text-align: center;
    }
    
</style>