 {% include postHeader.html %} 
<title>{{page.title}}</title>

<div class="container">
    <div class="content">
        <div class="contentsvg">

            {{page.svg}}
        </div>
        <h1>{{page.title}}</h1>
        <div class="context">
            <p>{{page.context}}</p>
        </div>
        <div class="main">
            <p>{{content}}</p>

        </div>
        <div class="buttons">
            <a href="https://loglot.github.io/loglot-Blog/archive.html?tag={{page.blogTag}}" class="button">Blog Tag</a>
            <a href="{{page.link}}" class="button">{{page.button-label}}</a>
        </div>
    </div>
    
    </div>

</div>


<style>
    .contentsvg{
        /* position:absolute;
        left:50px;
        top:50px;
        height:100px; */
      filter: invert(100%) sepia(31%) saturate(2202%) hue-rotate(205deg) brightness(103%) contrast(101%);
    position:relative;
    left:50%;
    transform: translate(-50%,0%);
    width:fit-content;

    }
    h1{
        /* position: absolute; */
        text-align: center;
        /* width:100vw */
        color:aliceblue;
    }
    p{
        /* position: absolute; */
        text-align: center;
        margin: auto;
    }
    .container{
        position:absolute;
        width:100vw;
        padding-top:5%
    }
    .context{
        margin: auto;
        width:20vw;
        background-color:rgba(240, 248, 255, 0.534);
        border-radius: 20px;
        color:black;
        padding:20px;

    }
    .content{
        border-radius: 20px;
        padding: 20px;
        margin: auto;
        width:70vw;
        height:fit-content;
        background-color:#19171f65;

    }
    .main{
        padding: 20px;
        color:aliceblue;

    }
    svg:not(.waves){
      top:0%;
      width:100px;
      height:100px;
    }
    .button{
        padding:10px;
        margin-left:10px;
        margin-right:10px;
    }
    .buttons{
        position:absolute;
        top:80vh;
        left:30vw;
        /* width:100vw; */
        /* transform: translate(-50%, -50%); */

    }
</style>
<!-- <div class="gradient"></div> -->

 {% include footer.html %} 